Repository vimsvei/archpad: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:main:arch-repo-service, build:main:tenant-service, build:main:hasura-sync-service, build:main:portal

Path conditions:
  build:main:arch-repo-service: any of: packages/backend/apps/arch-repo-service/**/*, packages/contract/**/*
  build:main:tenant-service: any of: packages/backend/apps/tenant-service/**/*, packages/contract/**/*
  build:main:hasura-sync-service: any of: packages/backend/apps/hasura-sync-service/**/*, packages/contract/**/*
  build:main:portal: any of: packages/portal/**/*, packages/contract/**/*

infra(oathkeeper): expose auth-service under api.archpad.pro/auth
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
Due: none

feat(portal): add PhoneInput for sign-up, auth layout, theme styles
  packages/portal/package.json
  packages/portal/src/app/[locale]/(public)/(auth)/layout.tsx
  packages/portal/src/app/globals.css
  packages/portal/src/components/auth/forms/sign-up-form.tsx
  packages/portal/src/components/providers/tolgee-next-provider.tsx
  packages/portal/src/components/ui/phone-input.tsx
  pnpm-lock.yaml
Due: build:main:portal

fix(auth): Oathkeeper path, register logging, auth-service disk health
  docs/AUTH_REGISTER_DEBUG.md
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.deployment.yaml
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
  packages/portal/src/app/api/auth/register/route.ts
Due: build:main:portal

Правки сервисов после рефакторинга
  docs/AUTH_REGISTER_DEBUG.md
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
  packages/portal/src/components/auth/forms/sign-up-form.tsx
  packages/portal/src/components/ui/phone-input.tsx
  packages/portal/src/lib/auth/auth-service.ts
  scripts/update-env-portal.sh
Due: build:main:portal

feat(auth): implement email verification flow and enhance registration process
  docs/AUTH_REGISTER_DEBUG.md
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.deployment.yaml
  packages/backend/apps/auth-service/src/auth-service.module.ts
  packages/backend/apps/auth-service/src/auth.controller.ts
  packages/backend/apps/auth-service/src/keycloak.service.ts
  packages/backend/apps/auth-service/src/verification-email.service.ts
  packages/backend/apps/tenant-service/src/tenant-service.module.ts
  packages/backend/libs/logger/src/index.ts
  packages/backend/libs/logger/src/mask-sensitive.util.ts
  packages/backend/libs/logger/src/request-logger.interceptor.ts
  packages/backend/package.json
  packages/portal/package.json
  packages/portal/src/app/[locale]/(public)/(auth)/recovery/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/sign-in/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/sign-up/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/verify-email/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/verify/page.tsx
  packages/portal/src/app/api/auth/verify-email/confirm/route.ts
  packages/portal/src/app/globals.css
  packages/portal/src/components/auth/forms/sign-up-form.tsx
  packages/portal/src/components/ui/password-input.tsx
  packages/portal/src/components/wrappers/auth-form-wrapper.tsx
  packages/portal/src/lib/auth/auth-service.ts
  packages/portal/src/store/slices/auth-forms-slice.ts
  packages/portal/tolgee-auth-footer-translations.md
  pnpm-lock.yaml
Due: build:main:tenant-service, build:main:portal

feat(logging): enhance logging across portal APIs and components
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.deployment.yaml
  packages/portal/src/app/api/auth/register/route.ts
  packages/portal/src/app/api/graphql/route.ts
  packages/portal/src/app/api/rest/[...path]/route.ts
  packages/portal/src/components/layouts/private/nav-user.tsx
  packages/portal/src/lib/logger.ts
  packages/portal/src/proxy.ts
  packages/portal/src/tolgee/shared.ts
Due: build:main:portal

feat(tenant-service): enhance user profile management with tenant and workspace provisioning
  infra/timeweb/10-gitops/apps/backend/tenant-service/tenant-service.deployment.yaml
  packages/backend/apps/tenant-service/src/internal/internal-user-profiles.service.ts
  packages/portal/src/app/api/graphql/route.ts
  packages/portal/src/components/auth/forms/sign-up-form.tsx
  packages/portal/src/components/ui/password-input.tsx
Due: build:main:tenant-service, build:main:portal

fix(oathkeeper): use noop mutator for auth-service to forward x-internal-token
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper.configmap.yaml
Due: none

fix(portal): don't clear session on GraphQL/REST data fetch 401
  packages/portal/src/app/api/graphql/route.ts
  packages/portal/src/app/api/rest/[...path]/route.ts
Due: build:main:portal

perf(hasura-sync-service): bulk_keep_going, larger chunks, target ~5 min
  docs/VAULT_SECRETS_STRUCTURE.md
  packages/backend/apps/hasura-sync-service/src/hasura-client/hasura-client.service.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-camelcase-customization.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-default-permissions.ts
  packages/backend/apps/hasura-sync-service/src/sync/fetch-db-tables.ts
  packages/backend/apps/hasura-sync-service/src/sync/sync-foreign-key-relationships.ts
  packages/backend/apps/hasura-sync-service/src/sync/track-tables.ts
  packages/backend/apps/hasura-sync-service/src/sync/untrack-tables.ts
Due: build:main:hasura-sync-service

docs(portal): 403 fix, auth-service port-forward hints
  docs/AUTH_REGISTER_DEBUG.md
  packages/portal/src/lib/auth/auth-service.ts
  scripts/dev-local.sh
  scripts/k8s-port-forward.sh
  scripts/update-env-portal.sh
Due: build:main:portal

fix(portal): Safari sign-up form layout and styles
  packages/portal/src/app/globals.css
  packages/portal/src/components/auth/forms/sign-up-form.tsx
Due: build:main:portal

Правки сервисов после рефакторинга
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
Due: none

fix(argocd): exclude self app manifest from hasura-sync-service sync
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.app.yaml
Due: none

fix(hasura-sync-service): avoid metadata timeouts with smaller chunks
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
  packages/backend/apps/hasura-sync-service/src/sync/apply-camelcase-customization.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-default-permissions.ts
  packages/backend/apps/hasura-sync-service/src/sync/sync-foreign-key-relationships.ts
  packages/backend/apps/hasura-sync-service/src/sync/track-tables.ts
  packages/backend/apps/hasura-sync-service/src/sync/untrack-tables.ts
  packages/backend/apps/hasura-sync-service/src/utils/metadata-ops.ts
Due: build:main:hasura-sync-service

chore(platform): increase resources for Hasura and hasura-sync-service job
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
  infra/timeweb/10-gitops/apps/hasura/hasura.deployment.yaml
Due: none

chore: update license to proprietary software license with detailed terms
  LICENSE
Due: none

Правки сервисов после рефакторинга
  infra/timeweb/10-gitops/apps/tolgee/tolgee.deployment.yaml
Due: none

refactor(arch-repo-service): move generic entities to common, update imports
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/named-object/named-object.autoregistry.ts
  packages/backend/apps/arch-repo-service/src/endpoints/import/open-exchange/open-exchange-import.module.ts
  packages/backend/apps/arch-repo-service/src/endpoints/import/open-exchange/open-exchange-import.service.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/application/application-event.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/application/application-function.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/application/application-interface.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/business/business-function.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/business/business-process.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/common/event.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/common/function.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/common/interface.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/common/location.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/common/process.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/common/role.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/common/service.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/technology/technology-interface.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/technology/technology-network-physical.entity.ts
  packages/backend/apps/arch-repo-service/src/model/maps/business-actor-role.map.ts
Due: build:main:arch-repo-service

ci: add landing build to GitLab CI (release + main)
  .gitlab-ci.yml
Due: none

infra: add landing app to platform (archpad.pro)
  infra/timeweb/10-gitops/apps/frontend/landing/README.md
  infra/timeweb/10-gitops/apps/frontend/landing/landing.app.yaml
  infra/timeweb/10-gitops/apps/frontend/landing/landing.deployment.yaml
  infra/timeweb/10-gitops/apps/frontend/landing/landing.ingressroute.yaml
  infra/timeweb/10-gitops/apps/frontend/landing/landing.service.yaml
  infra/timeweb/10-gitops/apps/frontend/landing/landing.serviceaccount.yaml
  infra/timeweb/10-gitops/apps/hasura/hasura-vault-role.configmap.yaml
  infra/timeweb/10-gitops/apps/tolgee/tolgee.configmap.yaml
Due: none

fix(keycloak): update keycloak-sync cronjob
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
Due: none

chore(portal): update operations and application-function
  packages/portal/package.json
  packages/portal/src/generated/operations.ts
  packages/portal/src/services/application-function.graphql.ts
Due: build:main:portal

docs: update README
  README.md
Due: none

Правки сервисов после рефакторинга
  infra/timeweb/10-gitops/scripts/diagnose-platform-applications.sh
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/named-object/named-object.autoregistry.ts
  packages/landing/next-env.d.ts
  packages/portal/src/services/application-function.graphql.ts
Due: build:main:arch-repo-service, build:main:portal

chore(infra): migrate Tolgee URLs to kv/data/archpad/demo/tolgee/front
  .gitlab-ci.yml
  docs/GITLAB_CI.md
  docs/VAULT_SECRETS_STRUCTURE.md
  infra/timeweb/10-gitops/apps/frontend/landing/README.md
  infra/timeweb/10-gitops/apps/frontend/landing/landing.deployment.yaml
  infra/timeweb/10-gitops/apps/frontend/portal/README.md
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
  infra/timeweb/10-gitops/apps/vault/vault-setup-policy.configmap.yaml
Due: none

feat(landing,portal): Tolgee server prefetch + TOLGEE_API_URL for internal K8s
  packages/landing/Dockerfile
  packages/landing/next-env.d.ts
  packages/landing/src/app/page.tsx
  packages/landing/src/components/providers/tolgee-provider.tsx
  packages/landing/src/tolgee/shared.ts
  packages/portal/src/app/[locale]/layout.tsx
  packages/portal/src/tolgee/shared.ts
Due: build:main:portal

fix(ci): remove .gitlab-ci.yml from backend build:main changes
  .gitlab-ci.yml
Due: none

fix(ci): remove .gitlab-ci.yml from portal/landing changes too
  .gitlab-ci.yml
Due: none

fix(infra): trim whitespace from Tolgee URLs in startup
  infra/timeweb/10-gitops/apps/frontend/landing/landing.deployment.yaml
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
Due: none

fix(infra): use POSIX trim (tr) instead of bash substitution
  infra/timeweb/10-gitops/apps/frontend/landing/landing.deployment.yaml
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
Due: none

Правки сервисов после рефакторинга
  infra/timeweb/10-gitops/apps/frontend/landing/landing.deployment.yaml
Due: none

chore(portal): remove next-intl, use Tolgee only
  packages/frontend/portal/next.config.ts
  packages/frontend/portal/package.json
  packages/frontend/portal/src/app/[locale]/layout.tsx
  packages/frontend/portal/src/i18n/config.ts
  packages/frontend/portal/src/i18n/request.ts
  packages/frontend/portal/src/navigation.ts
  packages/frontend/portal/src/proxy.ts
  packages/frontend/portal/src/tolgee/language.ts
  packages/frontend/portal/src/tolgee/server.tsx
  pnpm-lock.yaml
Due: none

refactor(portal): replace useTr with useTranslate from Tolgee
  packages/frontend/portal/src/components/archimate/application-component/classification-tab.tsx
  packages/frontend/portal/src/components/archimate/application-component/edit-item.tsx
  packages/frontend/portal/src/components/archimate/application-component/general-tab.tsx
  packages/frontend/portal/src/components/archimate/data-object/edit-item.tsx
  packages/frontend/portal/src/components/archimate/solution/adr-tab.tsx
  packages/frontend/portal/src/components/archimate/solution/edit-item.tsx
  packages/frontend/portal/src/components/archimate/solution/general-tab.tsx
  packages/frontend/portal/src/components/archimate/system-software/edit-item.tsx
  packages/frontend/portal/src/components/directories/directory-edit-page.tsx
  packages/frontend/portal/src/components/directories/directory-item-form.tsx
  packages/frontend/portal/src/components/directories/directory-list-page.tsx
  packages/frontend/portal/src/components/directories/directory-relations-table.tsx
  packages/frontend/portal/src/components/shared/base-object/base-object-list.tsx
  packages/frontend/portal/src/lib/i18n/tr.ts
  packages/frontend/portal/src/lib/i18n/use-tr.ts
Due: none

fix(infra): remove redundant cd from landing/portal deployments
  infra/timeweb/10-gitops/apps/frontend/landing/landing.deployment.yaml
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
Due: none

fix(landing): build @archpad/logger before landing build
  packages/frontend/landing/Dockerfile
Due: none
