Repository vimsvei/archpad: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:main:arch-repo-service, build:main:tenant-service, build:main:hasura-sync-service, build:main:portal

Path conditions:
  build:main:arch-repo-service: any of: packages/backend/apps/arch-repo-service/**/*, packages/contract/**/*
  build:main:tenant-service: any of: packages/backend/apps/tenant-service/**/*, packages/contract/**/*
  build:main:hasura-sync-service: any of: packages/backend/apps/hasura-sync-service/**/*, packages/contract/**/*
  build:main:portal: any of: packages/portal/**/*, packages/contract/**/*

fix(infra): Keycloak sync - dedicated SA, explicit Vault paths, clearer errors
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.serviceaccount.yaml
  infra/timeweb/10-gitops/apps/ory/secure-vault-role.configmap.yaml
  infra/timeweb/10-gitops/apps/vault/vault-setup-policy.configmap.yaml
Due: none

fix(infra): revert keycloak-sync to use keycloak SA
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.serviceaccount.yaml
  infra/timeweb/10-gitops/apps/ory/secure-vault-role.configmap.yaml
Due: none

Правки сервисов после рефакторинга
  infra/timeweb/10-gitops/apps/ory/secure-vault-role.configmap.yaml
  scripts/check-vault-landing-access.sh
  scripts/vault-landing-check-pod.yaml
Due: none

fix(landing): Tolgee, prefetch, links, diagnostics
  packages/frontend/landing/content/landing/sections/cta.mdx
  packages/frontend/landing/content/landing/sections/hero.mdx
  packages/frontend/landing/src/app/api/tolgee-status/route.ts
  packages/frontend/landing/src/app/not-found.tsx
  packages/frontend/landing/src/app/page.tsx
  packages/frontend/landing/src/components/button-group.tsx
  packages/frontend/landing/src/components/cta.tsx
  packages/frontend/landing/src/components/integration-list.tsx
  packages/frontend/landing/src/components/use-case-cards.tsx
  packages/frontend/landing/src/instrumentation.ts
  packages/frontend/landing/src/tolgee/shared.ts
Due: none

fix(landing): init Tolgee with server language and staticData in provider
  packages/frontend/landing/src/components/providers/tolgee-provider.tsx
Due: none

refactor(landing): enhance Tolgee logging and environment info
  packages/frontend/landing/messages/en.json
  packages/frontend/landing/messages/es-ES.json
  packages/frontend/landing/messages/ru-RU.json
  packages/frontend/landing/messages/sr.json
  packages/frontend/landing/src/app/api/tolgee-status/route.ts
  packages/frontend/landing/src/app/page.tsx
  packages/frontend/landing/src/tolgee/shared.ts
Due: none

feat(landing): Tolgee staticData, build-time fetch, .env.local in fetch script
  packages/frontend/landing/Dockerfile
  packages/frontend/landing/README.md
  packages/frontend/landing/package.json
  packages/frontend/landing/scripts/fetch-tolgee-messages.sh
  packages/frontend/landing/src/tolgee/shared.ts
Due: none

feat(portal): Tolgee staticData, build-time fetch, .env.local in fetch script
  packages/frontend/portal/Dockerfile
  packages/frontend/portal/README.md
  packages/frontend/portal/messages/en.json
  packages/frontend/portal/messages/es-ES.json
  packages/frontend/portal/messages/ru-RU.json
  packages/frontend/portal/messages/sr.json
  packages/frontend/portal/package.json
  packages/frontend/portal/scripts/fetch-tolgee-messages.sh
  packages/frontend/portal/src/app/[locale]/layout.tsx
  packages/frontend/portal/src/tolgee/shared.ts
Due: none

feat(landing): logo in header, remove Главная and Открыть приложение links
  packages/frontend/landing/public/logo.png
  packages/frontend/landing/src/app/page.tsx
Due: none

feat(assets): add new images for landing page and favicon, remove outdated login SVG
  packages/frontend/landing/public/archpad-hero.png
  packages/frontend/landing/public/logo-long.png
  packages/frontend/landing/src/app/favicon.ico
  packages/frontend/portal/public/assets/images/login.svg
Due: none

feat(landing): update hero section with multi-line titles and adjust imports
  packages/frontend/landing/README.md
  packages/frontend/landing/content/landing/sections/hero.mdx
  packages/frontend/landing/messages/en.json
  packages/frontend/landing/messages/es-ES.json
  packages/frontend/landing/messages/ru-RU.json
  packages/frontend/landing/messages/sr.json
  packages/frontend/landing/next-env.d.ts
  packages/frontend/landing/scripts/tolgee-set-hero-keys.sh
  packages/frontend/landing/src/app/page.tsx
  packages/frontend/landing/src/components/mdx-content.tsx
  packages/frontend/landing/velite.config.ts
Due: none

feat(auth): pass Keycloak groups to Hasura via Oathkeeper
  docs/COMPONENTS.md
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
  packages/frontend/portal/public/assets/images/logo-long.png
  packages/frontend/portal/src/assets/images/under-construction.svg
Due: none

feat(hasura): use HASURA_GRAPHQL_UNAUTHORIZED_ROLE from Vault settings
  infra/timeweb/10-gitops/apps/hasura/hasura.deployment.yaml
  packages/backend/apps/hasura-sync-service/src/hasura-client/hasura-client.service.ts
Due: build:main:hasura-sync-service

fix(oathkeeper): allow anonymous fallback for hasura-graphql
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
Due: none

fix(oathkeeper): arch-repo-api rule URL pattern for directory bulk upsert
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
  packages/frontend/portal/content/directory/open_source_licenses_core.csv
Due: none

fix(oathkeeper): wrap api-docs/api-json regex in angle brackets
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
Due: none

Правки сервисов после рефакторинга
  packages/frontend/portal/src/generated/operations.ts
Due: none

fix(oathkeeper): use jwt+anonymous for arch-repo/tenant, allow api-docs without auth
  assets/content/directory/open_source_licenses_core.csv
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
Due: none

fix(models): ActionStamp rejects non-UUID 'by' (e.g. guest) to avoid DB error
  packages/backend/libs/models/src/embeddable/action-stamp.embeddable.ts
Due: none

fix(oathkeeper): require JWT for arch-repo and tenant-service API, anonymous only for api-docs
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
Due: none

feat(portal): use arch-repo-service prefix in directory REST API paths
  packages/frontend/portal/src/services/directories.rest.ts
Due: none

feat(portal): directory card - reorder fields, expand Description, add Created/Updated stamps
  packages/backend/apps/tenant-service/src/internal/internal-user-profiles.controller.ts
  packages/frontend/portal/src/app/api/rest/[...path]/route.ts
  packages/frontend/portal/src/components/directories/directory-edit-page.tsx
  packages/frontend/portal/src/components/directories/directory-item-form.tsx
  packages/frontend/portal/src/hooks/use-user-display-names.ts
  packages/frontend/portal/src/services/tenant-service.rest.ts
Due: build:main:tenant-service

chore(portal): codegen, proxy, next.config, GraphQL services, directories preloader
  packages/frontend/portal/codegen.ts
  packages/frontend/portal/next.config.ts
  packages/frontend/portal/package.json
  packages/frontend/portal/src/components/directories/directory-list-page.tsx
  packages/frontend/portal/src/components/providers/directories-preloader.tsx
  packages/frontend/portal/src/generated/README.md
  packages/frontend/portal/src/hooks/use-directory-items.ts
  packages/frontend/portal/src/proxy.ts
  packages/frontend/portal/src/services/application-component.graphql.ts
  packages/frontend/portal/src/services/solution.graphql.ts
Due: none

chore(portal): remove dev Dockerfiles, add UnderConstruction image, update under-construction
  packages/frontend/portal/Dockerfile.dev
  packages/frontend/portal/docker-entrypoint.dev.sh
  packages/frontend/portal/src/components/empty/under-construction.tsx
  packages/frontend/portal/src/components/images/UnderConstruction.tsx
  packages/frontend/portal/src/components/images/index.ts
  packages/frontend/portal/tolgee-auth-footer-translations.md
Due: none

chore(infra): add diagnose-hasura-user-role.sh script
  infra/timeweb/10-gitops/scripts/diagnose-hasura-user-role.sh
Due: none

feat(portal): account page, profile form, profile API
  packages/backend/apps/tenant-service/src/internal/internal-user-profiles.controller.ts
  packages/backend/apps/tenant-service/src/internal/internal-user-profiles.service.ts
  packages/backend/apps/tenant-service/src/internal/user-profiles.dto.ts
  packages/frontend/portal/src/app/(private)/account/page.tsx
  packages/frontend/portal/src/app/(public)/(auth)/verify-email/page.tsx
  packages/frontend/portal/src/components/account/account-page.tsx
  packages/frontend/portal/src/components/account/profile-form.tsx
  packages/frontend/portal/src/components/auth/forms/sign-up-form.tsx
  packages/frontend/portal/src/components/directories/directory-edit-page.tsx
  packages/frontend/portal/src/components/directories/directory-item-form.tsx
  packages/frontend/portal/src/components/directories/directory-list-page.tsx
  packages/frontend/portal/src/components/directories/directory-relations-table.tsx
  packages/frontend/portal/src/components/layouts/private/breadcrumbs.tsx
  packages/frontend/portal/src/components/layouts/private/nav-user.tsx
  packages/frontend/portal/src/components/shared/add-existing-items-sheet.tsx
  packages/frontend/portal/src/components/shared/base-object/base-object-list.tsx
  packages/frontend/portal/src/components/wrappers/auth-form-wrapper.tsx
  packages/frontend/portal/src/services/profile.rest.ts
  packages/frontend/portal/src/services/profile.service.ts
  packages/frontend/portal/src/store/apis/profile-api.ts
  packages/frontend/portal/src/store/store.ts
Due: build:main:tenant-service

feat(tenant-service): add tenantId to profile by-keycloak-id response
  packages/backend/apps/tenant-service/src/internal/internal-user-profiles.controller.ts
  packages/backend/apps/tenant-service/src/internal/internal-user-profiles.service.ts
Due: build:main:tenant-service

feat(auth-service): add tenantId to /me response
  packages/backend/apps/auth-service/src/session.service.ts
Due: none

feat(portal): store tenantId, set cookie on /me, forward x-archpad-tenant-ids in REST proxy
  packages/frontend/portal/src/app/api/auth/logout/route.ts
  packages/frontend/portal/src/app/api/auth/me/route.ts
  packages/frontend/portal/src/app/api/rest/[...path]/route.ts
  packages/frontend/portal/src/components/providers/auth-provider.tsx
  packages/frontend/portal/src/lib/auth/auth-service.ts
  packages/frontend/portal/src/lib/tenant-context.ts
Due: none

feat(arch-repo): tenant isolation - use tenantId in create and filter GET operations (excl. directories)
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/application-component/application-component.service.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/application-interface/application-interface.service.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/named-object/named-object.service.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/system-software/system-software.service.ts
  packages/backend/apps/arch-repo-service/src/endpoints/directories/base-directory/base-directory.service.ts
  packages/backend/apps/arch-repo-service/src/endpoints/solution/solution.service.ts
Due: build:main:arch-repo-service

feat(portal): add tenantId filter to GraphQL queries (excl. directories)
  packages/frontend/portal/src/app/api/graphql/application-components/get-component-full.gql
  packages/frontend/portal/src/app/api/graphql/application-functions/get-application-function-by-pk.gql
  packages/frontend/portal/src/app/api/graphql/application-functions/get-functions-by-ids.gql
  packages/frontend/portal/src/app/api/graphql/data-objects/get-data-object-by-pk.gql
  packages/frontend/portal/src/app/api/graphql/data-objects/get-data-object-full.gql
  packages/frontend/portal/src/app/api/graphql/data-objects/get-data-objects-by-ids.gql
  packages/frontend/portal/src/app/api/graphql/solutions/get-solution-full-by-code.gql
  packages/frontend/portal/src/app/api/graphql/solutions/get-solution-full.gql
  packages/frontend/portal/src/app/api/graphql/system-software/get-software-by-pk.gql
  packages/frontend/portal/src/services/application-component.graphql.ts
  packages/frontend/portal/src/services/application-function.graphql.ts
  packages/frontend/portal/src/services/data-object.graphql.ts
  packages/frontend/portal/src/services/solution.graphql.ts
  packages/frontend/portal/src/services/system-software.graphql.ts
Due: none

feat(portal): update directories layout and API endpoints
  assets/content/directory/archpad_directory_items__architecture_style_application_ru.csv
  assets/content/directory/archpad_directory_items__component_status_ru.csv
  assets/content/directory/archpad_directory_items__network_protocol_ru.csv
  assets/content/directory/archpad_directory_items__security_zone_ru.csv
  assets/content/directory/archpad_directory_items__stakeholder_role_ru.csv
  assets/content/directory/lna_certification.csv
  assets/content/directory/lna_critical_levels.csv
  assets/content/directory/lna_failover_types.csv
  assets/content/directory/lna_failure_handlings.csv
  assets/content/directory/lna_monitoring_levels.csv
  assets/content/directory/lna_operational_mode.csv
  assets/content/directory/lna_recovery_times.csv
  assets/content/directory/lna_redundancy_types.csv
  assets/content/directory/lna_scaling_types.csv
  assets/content/directory/system_software_types_taxonomy.json
  packages/frontend/portal/src/components/layouts/private/directory/directories-layout.tsx
  packages/frontend/portal/src/menu/index.ts
  packages/frontend/portal/src/store/slices/open-exchange-import-slice.ts
Due: none

Правки сервисов после рефакторинга
  infra/timeweb/10-gitops/apps/applications/applications.app.yaml
  infra/timeweb/10-gitops/apps/argocd-image-updater/argocd-image-updater.app.yaml
  infra/timeweb/10-gitops/apps/backend/arch-repo-service/arch-repo-service.app.yaml
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.app.yaml
  infra/timeweb/10-gitops/apps/backend/tenant-service/tenant-service.app.yaml
  infra/timeweb/10-gitops/apps/frontend/landing/landing.app.yaml
  infra/timeweb/10-gitops/apps/frontend/portal/portal.app.yaml
  infra/timeweb/10-gitops/apps/hasura/hasura.app.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak.app.yaml
  infra/timeweb/10-gitops/apps/mailpit/mailpit.app.yaml
  infra/timeweb/10-gitops/apps/monitoring/monitoring.app.yaml
  infra/timeweb/10-gitops/apps/monitoring/prometheus/prometheus.app.yaml
  infra/timeweb/10-gitops/apps/pgadmin/pgadmin.app.yaml
  infra/timeweb/10-gitops/apps/postgres-proxy/postgres-proxy.app.yaml
  infra/timeweb/10-gitops/apps/tolgee/tolgee.app.yaml
Due: none

Правки сервисов после рефакторинга
  infra/timeweb/10-gitops/scripts/verify-platform-applications.sh
Due: none

Правки сервисов после рефакторинга
  assets/content/model/archpad-model.archimate
  assets/content/model/archpad-model.archimate.xml
  packages/backend/apps/arch-repo-service/src/arch-repo-service.module.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/named-object/named-object.autoregistry.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/technology-node-defaults/technology-node-defaults.module.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/technology-node-defaults/technology-node-defaults.service.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/technology-node/technology-device-node.controller.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/technology-node/technology-device-node.service.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/technology-node/technology-host-node.controller.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/technology-node/technology-host-node.service.ts
  packages/backend/apps/arch-repo-service/src/endpoints/archimate/technology-node/technology-node.module.ts
  packages/backend/apps/arch-repo-service/src/endpoints/import/open-exchange/open-exchange-import.service.ts
  packages/backend/apps/arch-repo-service/src/endpoints/import/open-exchange/open-exchange-import.types.ts
  packages/backend/apps/arch-repo-service/src/model/dto/technology-node.dto.ts
  packages/frontend/portal/src/components/upload/open-exchange-uploader.tsx
  packages/frontend/portal/src/store/slices/open-exchange-import-slice.ts
Due: build:main:arch-repo-service

Правки сервисов после рефакторинга
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
  packages/frontend/portal/messages/en.json
  packages/frontend/portal/messages/ru-RU.json
  packages/frontend/portal/src/app/api/graphql/route.ts
  packages/frontend/portal/src/app/api/rest/[...path]/route.ts
  packages/frontend/portal/src/services/application-component.rest.ts
  packages/frontend/portal/src/services/application-event.rest.ts
  packages/frontend/portal/src/services/application-function.rest.ts
  packages/frontend/portal/src/services/application-interface.rest.ts
  packages/frontend/portal/src/services/data-object.rest.ts
  packages/frontend/portal/src/services/directories.rest.ts
  packages/frontend/portal/src/services/http/rest-service.ts
  packages/frontend/portal/src/services/solution.rest.ts
  packages/frontend/portal/src/services/system-software.rest.ts
Due: none

fix(arch-repo): apply ArchpadRequestContextMiddleware, remove default tenant
  packages/backend/apps/arch-repo-service/src/arch-repo-service.module.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/core/archimate-element.generic.ts
  packages/backend/apps/arch-repo-service/src/request-context/archpad-request-context.middleware.ts
Due: build:main:arch-repo-service

Правки сервисов после рефакторинга (изменение CI-подхода)
  .gitlab-ci.yml
  docs/ARGOCD_IMAGE_UPDATER.md
  infra/timeweb/10-gitops/apps/backend/arch-repo-service/arch-repo-service.app.yaml
  infra/timeweb/10-gitops/apps/backend/arch-repo-service/arch-repo-service.deployment.yaml
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.app.yaml
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.deployment.yaml
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.app.yaml
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
  infra/timeweb/10-gitops/apps/backend/tenant-service/tenant-service.app.yaml
  infra/timeweb/10-gitops/apps/backend/tenant-service/tenant-service.deployment.yaml
  infra/timeweb/10-gitops/apps/frontend/landing/landing.app.yaml
  infra/timeweb/10-gitops/apps/frontend/landing/landing.deployment.yaml
  infra/timeweb/10-gitops/apps/frontend/portal/portal.app.yaml
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
Due: none

refactor(import): use ORM for clearRepository, add tenant-scoped delete and logging
  packages/backend/apps/arch-repo-service/src/endpoints/import/open-exchange/open-exchange-import.module.ts
  packages/backend/apps/arch-repo-service/src/endpoints/import/open-exchange/open-exchange-import.service.ts
Due: build:main:arch-repo-service
