Repository vimsvei/archpad: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:main:arch-repo-service, build:main:tenant-service, build:main:hasura-sync-service, build:main:portal

build:main:arch-repo-service:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - export COMMIT_SHA=$(echo $CI_COMMIT_SHA | cut -c1-8)
  - export REGISTRY_URL="${REGISTRY_URL:-archpad-cr.registry.twcstorage.ru}"
  - export REGISTRY_IMAGE_PREFIX="${REGISTRY_IMAGE_PREFIX:-archpad}"
  ...

build:main:tenant-service:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - export COMMIT_SHA=$(echo $CI_COMMIT_SHA | cut -c1-8)
  - export REGISTRY_URL="${REGISTRY_URL:-archpad-cr.registry.twcstorage.ru}"
  - export REGISTRY_IMAGE_PREFIX="${REGISTRY_IMAGE_PREFIX:-archpad}"
  ...

build:main:hasura-sync-service:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - export COMMIT_SHA=$(echo $CI_COMMIT_SHA | cut -c1-8)
  - export REGISTRY_URL="${REGISTRY_URL:-archpad-cr.registry.twcstorage.ru}"
  - export REGISTRY_IMAGE_PREFIX="${REGISTRY_IMAGE_PREFIX:-archpad}"
  ...

build:main:portal:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - export COMMIT_SHA=$(echo $CI_COMMIT_SHA | cut -c1-8)
  - export REGISTRY_URL="${REGISTRY_URL:-archpad-cr.registry.twcstorage.ru}"
  - export REGISTRY_IMAGE_PREFIX="${REGISTRY_IMAGE_PREFIX:-archpad}"
  ...

Правки портала и добавление auth-service (прокси для Кейклока). Переход на Keycloak
  .gitlab-ci.yml
  infra/timeweb/10-gitops/apps/backend/README.md
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.app.yaml
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.deployment.yaml
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.service.yaml
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.serviceaccount.yaml
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
  infra/timeweb/10-gitops/apps/hasura/hasura-vault-role.configmap.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
  packages/backend/apps/auth-service/Dockerfile
  packages/backend/apps/auth-service/src/auth-service.module.ts
  packages/backend/apps/auth-service/src/auth.controller.ts
  packages/backend/apps/auth-service/src/keycloak.service.ts
  packages/backend/apps/auth-service/src/main.ts
  packages/backend/apps/auth-service/tsconfig.app.json
  packages/backend/nest-cli.json
  packages/backend/package.json
  packages/portal/src/app/api/auth/login/route.ts
  packages/portal/src/app/api/auth/logout/route.ts
  packages/portal/src/app/api/auth/recovery/route.ts
  packages/portal/src/app/api/auth/register/route.ts
  packages/portal/src/app/api/auth/verify/route.ts
  packages/portal/src/app/api/graphql/route.ts
  packages/portal/src/app/api/rest/[...path]/route.ts
  packages/portal/src/lib/auth/auth-service.ts
  packages/portal/src/lib/auth/keycloak-admin.ts
  packages/portal/src/lib/auth/keycloak.ts
  scripts/update-env-portal.sh
Due: build:main:portal

Правки портала и добавление auth-service (прокси для Кейклока). Переход на Keycloak
  docs/DEPLOYMENT.md
  docs/LOCAL_DEVELOPMENT.md
Due: none

Правки портала и auth-service (прокси для Кейклока). Переход на Keycloak
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.deployment.yaml
  packages/backend/apps/auth-service/src/auth-service.module.ts
  packages/backend/apps/auth-service/src/auth.controller.ts
  packages/backend/apps/auth-service/src/jwt.ts
  packages/backend/apps/auth-service/src/keycloak.service.ts
  packages/backend/apps/auth-service/src/model/entities/auth-session.entity.ts
  packages/backend/apps/auth-service/src/session.service.ts
  packages/portal/src/app/[locale]/(private)/settings/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/sign-in/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/sign-up/page.tsx
  packages/portal/src/app/[locale]/page.tsx
  packages/portal/src/app/api/auth/login/route.ts
  packages/portal/src/app/api/auth/logout/route.ts
  packages/portal/src/app/api/auth/me/route.ts
  packages/portal/src/app/api/graphql/route.ts
  packages/portal/src/app/api/rest/[...path]/route.ts
  packages/portal/src/components/auth/forms/recovery-form.tsx
  packages/portal/src/components/auth/forms/verify-form.tsx
  packages/portal/src/lib/auth/auth-service.ts
  packages/portal/src/lib/auth/oauth.ts
  packages/portal/src/proxy.ts
Due: build:main:portal

Правки портала и auth-service (прокси для Кейклока). Переход на Keycloak
  infra/timeweb/10-gitops/apps/keycloak/keycloak.service.yaml
  infra/timeweb/10-gitops/apps/monitoring/grafana/grafana.deployment.yaml
  packages/backend/apps/auth-service/src/auth-service.module.ts
  packages/backend/apps/auth-service/src/auth.controller.ts
  packages/backend/apps/auth-service/src/health.controller.ts
  packages/backend/apps/auth-service/src/keycloak.health.ts
  packages/backend/apps/auth-service/src/keycloak.service.ts
  packages/backend/apps/auth-service/src/session.service.ts
  packages/portal/src/app/[locale]/page.tsx
  packages/portal/src/app/api/auth/roles/route.ts
  packages/portal/src/components/auth/forms/sign-in-form.tsx
  packages/portal/src/components/providers/auth-provider.tsx
  packages/portal/src/lib/auth/auth-service.ts
Due: build:main:portal

Правки портала и auth-service (прокси для Кейклока). Переход на Keycloak
  infra/timeweb/10-gitops/apps/monitoring/grafana/grafana.configmap-dashboard-keycloak.yaml
  pnpm-lock.yaml
Due: none

Правки разметки для Hasura
  .gitlab-ci.yml
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
  packages/backend/apps/arch-repo-service/src/arch-repo-service.module.ts
  packages/backend/apps/arch-repo-service/src/archimate-bootstrap/hasura-relationship-name-initializer.service.ts
  packages/backend/apps/arch-repo-service/src/model/embeddable/action-stamp.embeddable.ts
  packages/backend/apps/hasura-sync-service/src/db/get-hasura-sync-array-relationship-overrides.ts
  packages/backend/apps/hasura-sync-service/src/db/get-hasura-sync-column-overrides.ts
  packages/backend/apps/hasura-sync-service/src/db/get-hasura-sync-object-relationship-overrides.ts
  packages/backend/apps/hasura-sync-service/src/db/get-hasura-sync-table-overrides.ts
  packages/backend/apps/hasura-sync-service/src/db/get-schema-foreign-keys.ts
  packages/backend/apps/hasura-sync-service/src/db/get-schema-table-columns.ts
  packages/backend/apps/hasura-sync-service/src/db/get-schema-tables.ts
  packages/backend/apps/hasura-sync-service/src/db/get-table-columns.ts
  packages/backend/apps/hasura-sync-service/src/db/run-sql.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-camelcase-customization.spec.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-camelcase-customization.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-default-permissions.ts
  packages/backend/apps/tenant-service/src/hasura-relationship-name-initializer.service.ts
  packages/backend/apps/tenant-service/src/tenant-service.module.ts
  packages/backend/libs/models/src/decorators/hasura-camelcase.decorator.ts
  packages/backend/libs/models/src/decorators/hasura-embeddable.decorator.ts
  packages/backend/libs/models/src/decorators/hasura-property.decorator.ts
  packages/backend/libs/models/src/decorators/hasura-table.decorator.ts
  packages/backend/libs/models/src/embeddable/action-stamp.embeddable.ts
  packages/backend/libs/models/src/hasura-sync/array-relationship-overrides.entity.ts
  packages/backend/libs/models/src/hasura-sync/column-overrides.entity.ts
  packages/backend/libs/models/src/hasura-sync/object-relationship-overrides.entity.ts
  packages/backend/libs/models/src/hasura-sync/registry-sql.ts
  packages/backend/libs/models/src/hasura-sync/table-overrides.entity.ts
  packages/backend/libs/models/src/index.ts
  packages/portal/Dockerfile
  scripts/update-env-portal.sh
Due: build:main:arch-repo-service, build:main:tenant-service, build:main:hasura-sync-service, build:main:portal

Правки разметки для Hasura
  packages/backend/apps/hasura-sync-service/src/db/get-table-columns.ts
  packages/backend/apps/hasura-sync-service/src/hasura-client/hasura-client.service.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-camelcase-customization.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-default-permissions.ts
  packages/backend/apps/hasura-sync-service/src/sync/fetch-db-tables.ts
  packages/backend/apps/hasura-sync-service/src/sync/sync-foreign-key-relationships.ts
  packages/backend/apps/hasura-sync-service/src/sync/track-tables.ts
  packages/backend/apps/hasura-sync-service/src/sync/untrack-tables.ts
  packages/backend/apps/hasura-sync-service/src/utils/hasura-error.ts
  packages/backend/apps/hasura-sync-service/src/utils/metadata-ops.ts
  packages/backend/apps/hasura-sync-service/src/utils/retry.ts
  packages/backend/libs/models/src/hasura-sync/registry-sql.ts
  packages/backend/libs/models/src/index.ts
Due: build:main:hasura-sync-service

Правки разметки для Hasura
  packages/backend/apps/hasura-sync-service/src/sync/sync-foreign-key-relationships.ts
  packages/backend/libs/models/src/decorators/hasura-camelcase.decorator.ts
  packages/backend/libs/models/src/decorators/hasura-embeddable.decorator.ts
  packages/backend/libs/models/src/index.ts
Due: build:main:hasura-sync-service

Правки разметки для Hasura
  packages/backend/libs/models/src/index.ts
Due: none

Правки разметки для Hasura
  packages/backend/apps/arch-repo-service/src/archimate-bootstrap/hasura-relationship-name-initializer.service.ts
  packages/backend/apps/auth-service/src/auth-service.module.ts
  packages/backend/apps/auth-service/src/auth.controller.ts
  packages/backend/apps/auth-service/src/health.controller.ts
  packages/backend/apps/auth-service/src/jwt.ts
  packages/backend/apps/auth-service/src/keycloak.health.ts
  packages/backend/apps/auth-service/src/keycloak.service.ts
  packages/backend/apps/auth-service/src/main.ts
  packages/backend/apps/auth-service/src/model/entities/auth-session.entity.ts
  packages/backend/apps/auth-service/src/session.service.ts
  packages/backend/apps/hasura-sync-service/src/db/get-schema-table-columns.ts
  packages/backend/apps/hasura-sync-service/src/db/run-sql.ts
  packages/backend/apps/hasura-sync-service/src/hasura-client/hasura-client.service.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-camelcase-customization.spec.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-camelcase-customization.ts
  packages/backend/apps/hasura-sync-service/src/sync/sync-foreign-key-relationships.ts
  packages/backend/apps/hasura-sync-service/src/sync/untrack-tables.ts
  packages/backend/apps/hasura-sync-service/src/utils/hasura-error.ts
  packages/backend/apps/hasura-sync-service/src/utils/metadata-ops.ts
  packages/backend/apps/hasura-sync-service/src/utils/retry.ts
  packages/backend/apps/tenant-service/src/hasura-relationship-name-initializer.service.ts
  packages/backend/libs/models/src/decorators/hasura-embeddable.decorator.ts
  packages/backend/libs/models/src/decorators/hasura-property.decorator.ts
  packages/backend/libs/models/src/decorators/hasura-table.decorator.ts
  packages/backend/libs/models/src/hasura-sync/array-relationship-overrides.entity.ts
  packages/backend/libs/models/src/hasura-sync/column-overrides.entity.ts
  packages/backend/libs/models/src/hasura-sync/object-relationship-overrides.entity.ts
  packages/backend/libs/models/src/hasura-sync/table-overrides.entity.ts
Due: build:main:arch-repo-service, build:main:tenant-service, build:main:hasura-sync-service

Настройка кластера (работа hasura-sync-service)
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
Due: none

Настройка кластера (работа hasura-sync-service)
  packages/backend/apps/hasura-sync-service/src/hasura-client/hasura-client.service.ts
  packages/backend/apps/hasura-sync-service/src/main.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-camelcase-customization.spec.ts
  packages/backend/apps/hasura-sync-service/src/utils/metadata-ops.ts
Due: build:main:hasura-sync-service

Настройка кластера (работа hasura-sync-service)
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
  packages/backend/apps/hasura-sync-service/src/hasura-client/hasura-client.service.ts
Due: build:main:hasura-sync-service

Настройка кластера (работа hasura-sync-service)
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
  packages/backend/apps/hasura-sync-service/src/sync/untrack-tables.ts
Due: build:main:hasura-sync-service

Настройка кластера (работа hasura-sync-service)
  infra/timeweb/10-gitops/apps/hasura/hasura.deployment.yaml
Due: none

Настройка кластера (работа hasura-sync-service)
  packages/backend/apps/hasura-sync-service/src/hasura-client/hasura-client.service.ts
Due: build:main:hasura-sync-service

Настройка кластера (работа hasura-sync-service)
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
  packages/backend/apps/hasura-sync-service/src/sync/sync-foreign-key-relationships.ts
  packages/backend/apps/hasura-sync-service/src/sync/track-tables.ts
Due: build:main:hasura-sync-service

Настройка работы кейклока
  infra/timeweb/10-gitops/apps/keycloak/keycloak.ingressroute.yaml
Due: none

Настройка кластера (сборка логов в S3 и визуализация в grafana)
  infra/timeweb/10-gitops/apps/monitoring/grafana/grafana.configmap-datasources.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.configmap.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.deployment.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.pvc.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.service.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.serviceaccount.yaml
  infra/timeweb/10-gitops/apps/monitoring/promtail/promtail.configmap.yaml
  infra/timeweb/10-gitops/apps/monitoring/promtail/promtail.daemonset.yaml
  infra/timeweb/10-gitops/apps/monitoring/promtail/promtail.rbac.yaml
Due: none

Настройка кластера (сборка логов в S3 и визуализация в grafana)
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.deployment.yaml
Due: none

Настройка кластера (сборка логов в S3 и визуализация в grafana)
  infra/timeweb/10-gitops/apps/monitoring/grafana/grafana.configmap-datasources.yaml
  infra/timeweb/10-gitops/apps/monitoring/grafana/grafana.deployment.yaml
Due: none

Настройка кластера (сборка логов в S3 и визуализация в grafana)
  infra/timeweb/10-gitops/apps/hasura/hasura-vault-role.configmap.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.configmap.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.deployment.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.pvc.yaml
Due: none

Настройка кластера (сборка логов в S3 и визуализация в grafana)
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.deployment.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.s3-creds.job.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.s3-creds.rbac.yaml
Due: none

Настройка кластера (сборка логов в S3 и визуализация в grafana)
  infra/timeweb/10-gitops/apps/monitoring/grafana/grafana.deployment.yaml
  infra/timeweb/10-gitops/apps/monitoring/loki/loki.s3-creds.job.yaml
Due: none

Настройка кластера (сборка логов в S3 и визуализация в grafana)
  infra/timeweb/10-gitops/apps/monitoring/promtail/promtail.configmap.yaml
Due: none

Настройка кластера (сборка логов в S3 и визуализация в grafana)
  infra/timeweb/10-gitops/apps/monitoring/promtail/promtail.daemonset.yaml
Due: none

Настройка кластера (сборка логов в S3 и визуализация в grafana)
  infra/timeweb/10-gitops/apps/monitoring/grafana/grafana.configmap-dashboard-logs-errors.yaml
  infra/timeweb/10-gitops/apps/monitoring/grafana/grafana.deployment.yaml
Due: none

Add workspace and user state entities, and mapping for user profiles
  packages/backend/apps/tenant-service/src/model/entities/workspace.entity.ts
  packages/backend/apps/tenant-service/src/model/enums/user-state.enum.ts
  packages/backend/apps/tenant-service/src/model/maps/workspace-user-profile.map.ts
Due: build:main:tenant-service

Add Hasura sync bootstrap library and refactor related services; remove deprecated HasuraRelationshipNameInitializer service from tenant service
  packages/backend/apps/arch-repo-service/src/archimate-bootstrap/archimate-bootstrap.module.ts
  packages/backend/apps/tenant-service/src/bootstrap/bootstrap.module.ts
  packages/backend/apps/tenant-service/src/bootstrap/default-tenant-workspace-initializer.service.ts
  packages/backend/apps/tenant-service/src/hasura-relationship-name-initializer.service.ts
  packages/backend/apps/tenant-service/src/model/entities/tenant.entity.ts
  packages/backend/apps/tenant-service/src/model/entities/user-profile.entity.ts
  packages/backend/apps/tenant-service/src/model/entities/workspace.entity.ts
  packages/backend/apps/tenant-service/src/model/enums/user-state.enum.ts
  packages/backend/apps/tenant-service/src/model/maps/workspace-user-profile.map.ts
  packages/backend/apps/tenant-service/src/tenant-service.module.ts
  packages/backend/libs/hasura-sync-bootstrap/src/hasura-relationship-name-initializer.service.ts
  packages/backend/libs/hasura-sync-bootstrap/src/index.ts
  packages/backend/libs/hasura-sync-bootstrap/tsconfig.lib.json
  packages/backend/libs/models/src/index.ts
  packages/backend/nest-cli.json
  packages/backend/tsconfig.json
  packages/portal/src/app/globals.css
  packages/portal/src/app/layout.tsx
Due: build:main:arch-repo-service, build:main:tenant-service, build:main:portal

Refactor arch-repo-service module to improve model path resolution and rename TenantUserProfileMap to WorkspaceUserProfileMap in tenant-service for clarity and consistency.
  packages/backend/apps/arch-repo-service/src/arch-repo-service.module.ts
  packages/backend/apps/tenant-service/src/model/maps/workspace-user-profile.map.ts
Due: build:main:arch-repo-service, build:main:tenant-service

Правки сервисов после рефакторинга
  packages/backend/apps/tenant-service/src/bootstrap/bootstrap.module.ts
  packages/backend/libs/hasura-sync-bootstrap/src/hasura-relationship-name-initializer.service.ts
Due: build:main:tenant-service

Правки сервисов после рефакторинга
  packages/backend/libs/hasura-sync-bootstrap/src/hasura-relationship-name-initializer.service.ts
Due: none

Auth/Portal/Tenant: profile split Keycloak-only, internal sync and opaque sessions.
  infra/timeweb/10-gitops/apps/backend/auth-service/auth-service.deployment.yaml
  infra/timeweb/10-gitops/apps/backend/tenant-service/tenant-service.deployment.yaml
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-partial-import.configmap.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
  packages/backend/apps/auth-service/src/auth-service.module.ts
  packages/backend/apps/auth-service/src/auth.controller.ts
  packages/backend/apps/auth-service/src/internal-token.guard.ts
  packages/backend/apps/auth-service/src/keycloak-desired-state.service.ts
  packages/backend/apps/auth-service/src/keycloak.service.ts
  packages/backend/apps/auth-service/src/session.service.ts
  packages/backend/apps/auth-service/src/tenant-service.client.ts
  packages/backend/apps/tenant-service/src/bootstrap/bootstrap.module.ts
  packages/backend/apps/tenant-service/src/internal/internal-token.guard.ts
  packages/backend/apps/tenant-service/src/internal/internal-user-profiles.controller.ts
  packages/backend/apps/tenant-service/src/internal/internal-user-profiles.service.ts
  packages/backend/apps/tenant-service/src/internal/user-profiles.dto.ts
  packages/backend/apps/tenant-service/src/model/entities/user-profile.entity.ts
  packages/backend/apps/tenant-service/src/tenant-service.module.ts
  packages/portal/src/components/layouts/private/nav-user.tsx
  packages/portal/src/components/providers/auth-provider.tsx
  packages/portal/src/lib/auth/auth-service.ts
Due: build:main:tenant-service, build:main:portal

ci: retry docker login to Timeweb registry
  .gitlab-ci.yml
Due: none

ci: trigger main image builds on CI config changes
  .gitlab-ci.yml
Due: none

fix(auth-service): run Keycloak desired-state sync in background
  packages/backend/apps/auth-service/src/keycloak-desired-state.service.ts
Due: none

ci: add registry cleanup job to prune old image tags
  .gitlab-ci.yml
Due: none

infra(keycloak): stop importing realm on startup
  infra/timeweb/10-gitops/apps/keycloak/keycloak.deployment.yaml
Due: none

Path conditions:
  build:main:arch-repo-service: any of: packages/backend/apps/arch-repo-service/**/*, packages/contract/**/*
  build:main:tenant-service: any of: packages/backend/apps/tenant-service/**/*, packages/contract/**/*
  build:main:hasura-sync-service: any of: packages/backend/apps/hasura-sync-service/**/*, packages/contract/**/*
  build:main:portal: any of: packages/portal/**/*, packages/contract/**/*
