Repository vimsvei/archpad: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:main:arch-repo-service, build:main:tenant-service, build:main:hasura-sync-service, build:main:portal

build:main:arch-repo-service:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - export COMMIT_SHA=$(echo $CI_COMMIT_SHA | cut -c1-8)
  - export REGISTRY_URL="${REGISTRY_URL:-archpad-cr.registry.twcstorage.ru}"
  - export REGISTRY_IMAGE_PREFIX="${REGISTRY_IMAGE_PREFIX:-archpad}"
  ...

build:main:tenant-service:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - export COMMIT_SHA=$(echo $CI_COMMIT_SHA | cut -c1-8)
  - export REGISTRY_URL="${REGISTRY_URL:-archpad-cr.registry.twcstorage.ru}"
  - export REGISTRY_IMAGE_PREFIX="${REGISTRY_IMAGE_PREFIX:-archpad}"
  ...

build:main:hasura-sync-service:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - export COMMIT_SHA=$(echo $CI_COMMIT_SHA | cut -c1-8)
  - export REGISTRY_URL="${REGISTRY_URL:-archpad-cr.registry.twcstorage.ru}"
  - export REGISTRY_IMAGE_PREFIX="${REGISTRY_IMAGE_PREFIX:-archpad}"
  ...

build:main:portal:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - export COMMIT_SHA=$(echo $CI_COMMIT_SHA | cut -c1-8)
  - export REGISTRY_URL="${REGISTRY_URL:-archpad-cr.registry.twcstorage.ru}"
  - export REGISTRY_IMAGE_PREFIX="${REGISTRY_IMAGE_PREFIX:-archpad}"
  ...

Подготовка портала к локальной разработке
  infra/timeweb/10-gitops/apps/ory/hydra/hydra-init-client.configmap.yaml
Due: none

Подготовка портала к локальной разработке
  infra/timeweb/10-gitops/apps/hasura/hasura.deployment.yaml
  infra/timeweb/10-gitops/apps/hasura/hasura.ingressroute.yaml
Due: none

Подготовка портала к локальной разработке
  infra/timeweb/10-gitops/apps/hasura/hasura.ingressroute.yaml
Due: none

Подготовка портала к локальной разработке
  docs/LOCAL_DEVELOPMENT.md
  docs/SECRETS.md
  infra/caddy/Caddyfile
  scripts/caddy-local.sh
  scripts/k8s-port-forward.sh
  scripts/update-env-backend.sh
  scripts/update-env-portal.sh
Due: none

Подготовка портала к локальной разработке
  infra/timeweb/10-gitops/apps/hasura/hasura-init-sources.job.yaml
  infra/timeweb/10-gitops/apps/hasura/hasura.deployment.yaml
Due: none

Настройка кластера
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.app.yaml
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
Due: none

Настройка кластера
  packages/portal/src/components/providers/tolgee-next-provider.tsx
Due: build:main:portal

Настройка кластера
  infra/timeweb/10-gitops/apps/backend/hasura-sync-service/hasura-sync-service.job.yaml
Due: none

Настройка кластера
  infra/timeweb/10-gitops/apps/postgres-proxy/postgres-proxy.app.yaml
  infra/timeweb/10-gitops/apps/postgres-proxy/postgres-proxy.deployment.yaml
  infra/timeweb/10-gitops/apps/postgres-proxy/postgres-proxy.ingressroutetcp.yaml
  infra/timeweb/10-gitops/apps/postgres-proxy/postgres-proxy.service.yaml
  infra/timeweb/10-gitops/apps/postgres-proxy/postgres-proxy.serviceaccount.yaml
  infra/timeweb/10-gitops/apps/traefik/traefik.app.yaml
Due: none

Правики в сервисе синхронизации хасуры
  packages/backend/apps/hasura-sync-service/src/hasura-client/hasura-client.service.ts
  packages/backend/apps/hasura-sync-service/src/main.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-camelcase-customization.ts
  packages/backend/apps/hasura-sync-service/src/sync/apply-default-permissions.ts
  packages/backend/apps/hasura-sync-service/src/sync/sync-foreign-key-relationships.ts
  packages/backend/apps/hasura-sync-service/src/sync/track-tables.ts
  packages/backend/apps/hasura-sync-service/src/sync/untrack-tables.ts
  packages/backend/apps/tenant-service/src/bootstrap.module.ts
  packages/backend/apps/tenant-service/src/hasura-relationship-name-initializer.service.ts
  packages/backend/package.json
  packages/portal/src/app/[locale]/(private)/(management)/upload/directories/page.tsx
Due: build:main:tenant-service, build:main:hasura-sync-service, build:main:portal

Правики кластера для корректной работы
  infra/timeweb/10-gitops/apps/applications/applications.app.yaml
  infra/timeweb/10-gitops/apps/monitoring/monitoring-copy-tls-secret.job.yaml
  infra/timeweb/10-gitops/apps/pgadmin/pgadmin-copy-tls-secret.job.yaml
  infra/timeweb/10-gitops/kustomization.yaml
Due: none

Правики кластера для корректной работы
  infra/timeweb/10-gitops/apps/backend/registry-secret-sync.job.yaml
  infra/timeweb/10-gitops/apps/backend/registry-secret-sync.serviceaccount.yaml
Due: none

Правики кластера для корректной работы
  infra/timeweb/10-gitops/apps/applications/applications.app.yaml
Due: none

Правики кластера для корректной работы
  infra/timeweb/10-gitops/apps/hasura/hasura-vault-role.configmap.yaml
  infra/timeweb/10-gitops/apps/traefik/traefik.app.yaml
Due: none

Правики кластера для корректной работы
  infra/timeweb/10-gitops/apps/traefik/traefik.app.yaml
Due: none

Правики кластера для корректной работы
  .gitignore
  scripts/remove-vault-token-from-history.sh
Due: none

Правки кластера для корректной работы
  packages/backend/apps/arch-repo-service/src/arch-repo-service.module.ts
  packages/backend/apps/arch-repo-service/src/main.ts
  packages/backend/apps/tenant-service/src/main.ts
  packages/backend/apps/tenant-service/src/tenant-service.module.ts
  packages/backend/libs/vault-config/src/vault-config.interface.ts
  packages/backend/libs/vault-config/src/vault-config.service.ts
  packages/backend/libs/vault-config/src/vault-loader.ts
Due: build:main:arch-repo-service, build:main:tenant-service

Правки кластера для корректной работы
  infra/timeweb/10-gitops/apps/hasura/hasura.deployment.yaml
  infra/timeweb/10-gitops/apps/monitoring/grafana/grafana.deployment.yaml
  infra/timeweb/10-gitops/apps/ory/hydra/hydra-migrate.job.yaml
  infra/timeweb/10-gitops/apps/ory/hydra/hydra.deployment.yaml
  infra/timeweb/10-gitops/apps/ory/kratos/kratos-migrate.job.yaml
  infra/timeweb/10-gitops/apps/ory/kratos/kratos.deployment.yaml
  infra/timeweb/10-gitops/apps/postgres-proxy/postgres-proxy.deployment.yaml
Due: none

Правки бэкенд-сервисов для разметки сущностей в хасура
  packages/backend/apps/arch-repo-service/src/arch-repo-service.module.ts
  packages/backend/apps/arch-repo-service/src/archimate-bootstrap/hasura-relationship-name-initializer.service.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/application/application-component.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/application/data-object.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/technology/system-software.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/technology/technology-network.entity.ts
  packages/backend/apps/arch-repo-service/src/model/archimate/technology/technology-node.entity.ts
  packages/backend/apps/arch-repo-service/src/model/maps/application-component-system-software.map.ts
  packages/backend/apps/arch-repo-service/src/model/maps/application-component-technology-logical-network.map.ts
  packages/backend/apps/arch-repo-service/src/model/maps/application-function-data-object.map.ts
  packages/backend/apps/arch-repo-service/src/model/maps/application-function-interface.map.ts
  packages/backend/apps/arch-repo-service/src/model/maps/solution-application-function.map.ts
  packages/backend/apps/arch-repo-service/src/model/maps/solution-data-object.map.ts
  packages/backend/apps/arch-repo-service/src/model/maps/solution-motivation-component.map.ts
  packages/backend/apps/arch-repo-service/src/model/solution/solution-element.generic.ts
  packages/backend/apps/arch-repo-service/src/model/solution/solution.entity.ts
  packages/backend/apps/arch-repo-service/src/model/solution/variant.entity.ts
  packages/backend/apps/arch-repo-service/src/model/solution/view.entity.ts
  packages/backend/apps/hasura-sync-service/src/db/get-hasura-sync-object-relationship-overrides.ts
  packages/backend/apps/hasura-sync-service/src/hasura-client/hasura-client.service.ts
  packages/backend/apps/hasura-sync-service/src/hasura-sync-service.service.ts
  packages/backend/apps/hasura-sync-service/src/sync/sync-foreign-key-relationships.ts
  packages/backend/apps/tenant-service/src/hasura-relationship-name-initializer.service.ts
  packages/backend/apps/tenant-service/src/tenant-service.module.ts
  packages/backend/libs/models/src/decorators/hasura-reference.decorator.ts
  packages/backend/libs/vault-config/src/vault-config.service.ts
  packages/backend/libs/vault-config/src/vault-loader.ts
Due: build:main:arch-repo-service, build:main:tenant-service, build:main:hasura-sync-service

Правки кластера. Переезд с Ory Kratos и Hydra на Keycloak
  infra/timeweb/10-gitops/apps/keycloak.app.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak.deployment.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak.ingressroute.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak.service.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak.serviceaccount.yaml
  infra/timeweb/10-gitops/apps/ory/hydra.app.yaml
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper.configmap.yaml
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper.deployment.yaml
  infra/timeweb/10-gitops/apps/ory/secure-vault-role.configmap.yaml
Due: none

Правки кластера. Переезд с Ory Kratos и Hydra на Keycloak
  infra/timeweb/10-gitops/apps/keycloak/keycloak.app.yaml
Due: none

Правки кластера. Переезд с Ory Kratos и Hydra на Keycloak
  infra/timeweb/10-gitops/apps/keycloak/keycloak.deployment.yaml
Due: none

Правки кластера. Переезд с Ory Kratos и Hydra на Keycloak
  infra/timeweb/10-gitops/apps/ory/oathkeeper/oathkeeper.configmap.yaml
Due: none

Правки кластера. Переезд с Ory Kratos и Hydra на Keycloak
  infra/timeweb/10-gitops/apps/keycloak/keycloak-realm.configmap.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak.deployment.yaml
Due: none

Правки кластера. Настройка Keycloak
  infra/timeweb/10-gitops/apps/keycloak/keycloak-partial-import.configmap.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
Due: none

Правки кластера. Настройка Keycloak
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
Due: none

Правки кластера. Настройка Keycloak
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-partial-import.configmap.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
Due: none

Правки портала. Переезд функционала на Keycloak
  packages/portal/src/app/[locale]/(public)/(auth)/sign-in/page.tsx
  packages/portal/src/app/api/auth/login/route.ts
  packages/portal/src/app/api/auth/logout/route.ts
  packages/portal/src/app/api/auth/me/route.ts
  packages/portal/src/app/api/graphql/route.ts
  packages/portal/src/app/api/rest/[...path]/route.ts
  packages/portal/src/components/auth/forms/sign-in-form.tsx
  packages/portal/src/components/layouts/private/nav-user.tsx
  packages/portal/src/hooks/use-kratos-session.ts
  packages/portal/src/lib/auth/hydra.ts
  packages/portal/src/lib/auth/keycloak.ts
  packages/portal/src/proxy.ts
Due: build:main:portal

Правки кластера. Настройка Keycloak
  infra/timeweb/10-gitops/apps/keycloak/keycloak-partial-import.configmap.yaml
Due: none

Правки портала. Переход на Keycloak
  packages/portal/docs/auth-flows.md
  packages/portal/ory.config.ts
  packages/portal/package.json
  packages/portal/src/app/(ory)/hydra/consent/route.ts
  packages/portal/src/app/(ory)/hydra/login/route.ts
  packages/portal/src/app/(ory)/oauth/callback/route.ts
  packages/portal/src/app/(ory)/oauth/login/route.ts
  packages/portal/src/app/[locale]/(private)/settings/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/recovery/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/sign-up/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/verify/page.tsx
  packages/portal/src/app/[locale]/page.tsx
  packages/portal/src/app/api/auth/recovery/route.ts
  packages/portal/src/app/api/auth/register/route.ts
  packages/portal/src/app/api/auth/verify/route.ts
  packages/portal/src/app/api/ory/logout/route.ts
  packages/portal/src/app/api/ory/self-service/[...path]/route.ts
  packages/portal/src/app/api/ory/sessions/[...path]/route.ts
  packages/portal/src/components/auth/forms/recovery-form.tsx
  packages/portal/src/components/auth/forms/settings-form.tsx
  packages/portal/src/components/auth/forms/sign-up-form.tsx
  packages/portal/src/components/auth/forms/verify-form.tsx
  packages/portal/src/components/auth/kratos/field-resolver.ts
  packages/portal/src/components/auth/kratos/flow-debug.tsx
  packages/portal/src/components/auth/kratos/flow-messages.tsx
  packages/portal/src/components/auth/kratos/flow-utils.ts
  packages/portal/src/components/auth/kratos/native-form-root.tsx
  packages/portal/src/components/auth/kratos/normalize.ts
  packages/portal/src/components/auth/kratos/types.ts
  packages/portal/src/components/layouts/private/nav-user.tsx
  packages/portal/src/hooks/use-auth-session.ts
  packages/portal/src/lib/auth/keycloak-admin.ts
  packages/portal/src/proxy.ts
Due: build:main:portal

Правки портала. Переход на Keycloak
  packages/portal/Dockerfile
  packages/portal/src/app/[locale]/(private)/settings/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/recovery/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/sign-in/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/sign-up/page.tsx
  packages/portal/src/app/[locale]/(public)/(auth)/verify/page.tsx
  packages/portal/src/app/api/auth/login/route.ts
  packages/portal/src/app/api/auth/me/route.ts
  packages/portal/src/app/api/auth/recovery/route.ts
  packages/portal/src/app/api/auth/register/route.ts
  packages/portal/src/app/api/auth/verify/route.ts
  packages/portal/src/components/auth/forms/settings-form.tsx
  packages/portal/src/lib/auth/hydra.ts
  packages/portal/src/lib/auth/keycloak-admin.ts
Due: build:main:portal

Правки портала. Переход на Keycloak
  docs/LOCAL_DEVELOPMENT.md
  packages/portal/src/components/auth/forms/settings-form.tsx
  packages/portal/src/components/auth/forms/sign-in-form.tsx
  packages/portal/src/components/layouts/private/nav-user.tsx
  packages/portal/src/components/providers/application-provider.tsx
  packages/portal/src/components/providers/auth-provider.tsx
  packages/portal/src/hooks/use-auth-session.ts
  packages/portal/src/lib/auth/keycloak-admin.ts
  packages/portal/src/lib/auth/keycloak.ts
Due: build:main:portal

Правки портала. Переход на Keycloak
  .gitlab-ci.yml
  docs/CLUSTER_HEALTH_CHECK.md
  docs/COMPONENTS.md
  docs/DEPLOYMENT.md
  docs/GITLAB_CI.md
  docs/LOCAL_DEVELOPMENT.md
  docs/MONITORING_DESIGN.md
  docs/README.md
  docs/RESOURCE_CALCULATION.md
  docs/RESOURCE_MANAGEMENT.md
  docs/SECRETS.md
  docs/SSO_ADMIN_RESOURCES.md
  docs/VAULT_INTERNAL_URLS.md
  docs/VAULT_INTERNAL_URLS_VALUES.md
  docs/VAULT_SECRETS_CHECK_RESULT.md
  docs/VAULT_SECRETS_STRUCTURE.md
  docs/VAULT_SETUP.md
  infra/timeweb/10-gitops/apps/frontend/portal/portal.deployment.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-import.job.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-realm.configmap.yaml
  infra/timeweb/10-gitops/apps/keycloak/keycloak-sync.cronjob.yaml
  packages/portal/Dockerfile
  packages/portal/src/app/api/graphql/route.ts
  packages/portal/src/app/api/public/solutions/[id]/route.ts
  packages/portal/src/app/api/rest/[...path]/route.ts
  packages/portal/src/generated/README.md
  packages/portal/src/lib/auth/keycloak.ts
  scripts/dev-local.sh
  scripts/update-env-portal.sh
Due: build:main:portal

Path conditions:
  build:main:arch-repo-service: any of: packages/backend/apps/arch-repo-service/**/*, packages/contract/**/*
  build:main:tenant-service: any of: packages/backend/apps/tenant-service/**/*, packages/contract/**/*
  build:main:hasura-sync-service: any of: packages/backend/apps/hasura-sync-service/**/*, packages/contract/**/*
  build:main:portal: any of: packages/portal/**/*, packages/contract/**/*
